<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	-var autorizacion = true
	article
		if autorizacion
			h3 Autorizado
			img(src="imgs/verde.jpg")
		else
			h3 No Autorizado
			img(src="imgs/logo.jpg")


	