doctype html
head
  meta(charset='UTF-8')
  title Reto color
  style.
    table {
    background-color: white;
    }
    .primera {
    background-color: #FFAAAA;
    }
    .segunda {
    background-color: #FF9191;
    }
    .tercera {
    background-color: #FF8888;
    }
    .cuarta {
    background-color: #FF7B7B;
    }
    .quinto {
    background-color: #FD6D6D;
    }
    .sexto {
    background-color: #FC6767;
    }
    .septimo {
    background-color: #FE6060;
    }
    .octavo {
    background-color: #FF4141;
    }
    .noveno {
    background-color: #FD3030;
    }
    .decimo {
    background-color: #FD0000;
    }
table(width='200px')
  tr
    td.primera 1
  tr
    td.segunda 2
  tr
    td.tercera 3
  tr
    td.cuarta 4
  tr
    td.quinto 5
  tr
    td.sexto 6
  tr
    td.septimo 7
  tr
    td.octavo 8
  tr
    td.noveno 9
  tr
    td.decimo 10

